<%- include('../includes/head.ejs') %>
    <script src="/js/admin.js" defer></script>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/edit-product.css">
    </link>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
            
            </main>
            <%- include('../includes/end.ejs'); %>