<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js" defer></script>
<script type="text/javascript" src="js/pekeUpload.js"></script>
</head>
<body>
       <main class="login-main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">

                <div class="panel">
                    <h5 class="card-header">
                        Index Page Banner
                        
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit">
                        <input id="file-1" type="file" name="banner-1"/>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
                <div class="panel">
                    <h5 class="card-header">
                        Quem Somos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit">
                            <input id="file-2" type="file" name="banner-2"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
                <div class="panel">
                    <h5 class="card-header">
                        O Que Fazemos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit">
                            <input id="file-3" type="file" name="banner-3"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
                <div class="panel">
                    <h5 class="card-header">
                        RCInsights Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit">
                            <input id="file-4" type="file" name="banner-4"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
        <script>
            var form = document.querySelector('.needs-validation');
        
            form.addEventListener('submit', function(event) {
        
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
        
                form.classList.add('was-validated');
            })
        </script>
</body>