<footer id="footer">
  <div class="container-fluid px-md-2 px-sm-0 px-0">
      <div class="row footer-row d-flex justify-content-between justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-center mr-0 mr-sm-0 mr-md-5">
          <div class="col-12 col-sm-12 col-md-2 d-flex flex-column logo-column align-items-center align-items-md-stretch justify-content-center mt-5 pt-5 mr-0 pr-0 mr-md-5 pr-md-5">
              <div class="rci-logo-svg ml-5 ml-md-0">
                  <svg
                      id="Grupo_118"
                      data-name="Grupo 118"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="205"
                      height="56.428"
                      viewBox="0 0 205 56.428"
                  >
                      <defs>
                          <clipPath id="clip-path">
                              <rect
                                  id="Retângulo_59"
                                  data-name="Retângulo 59"
                                  width="205"
                                  height="56.428"
                                  fill="#f5eddb"
                              />
                          </clipPath>
                      </defs>
                      <g id="Grupo_92" data-name="Grupo 92">
                          <g id="Grupo_91" data-name="Grupo 91" clip-path="url(#clip-path)">
                              <path
                                  id="Caminho_27"
                                  data-name="Caminho 27"
                                  d="M49.212,18.7c0-4.515-1.32-8.18-3.923-10.894-3.4-3.541-8.9-5.337-16.373-5.337H0v8.075H6.844v46.5h9.127V35.1H26.45L43.6,57.041h8.629V53.464L36.382,34.213C44.559,32.189,49.212,26.6,49.212,18.7M15.971,27.025V10.544H28.383c9.744,0,11.7,3.121,11.7,8.156,0,6.881-6.315,8.325-11.612,8.325Z"
                                  transform="translate(0 -1.54)"
                                  fill="#f5eddb"
                              />
                              <path
                                  id="Caminho_28"
                                  data-name="Caminho 28"
                                  d="M188.206,35.443c-2.2,8.574-7.729,12.742-16.916,12.742-11.557,0-17.922-7.122-17.922-20.055,0-12.824,6.428-19.886,18.1-19.886,8.616,0,14.139,4.1,16.414,12.2l.411,1.462h9.021l-.483-2.348C194.274,7.128,185,0,171.379,0,154.695,0,144.33,10.779,144.33,28.13c0,8.379,2.375,15.423,6.87,20.369,4.714,5.188,11.63,7.93,20,7.93,14,0,23.475-7.346,26.007-20.156l.461-2.333h-9.078Z"
                                  transform="translate(-90.035)"
                                  fill="#f5eddb"
                              />
                              <path
                                  id="Caminho_29"
                                  data-name="Caminho 29"
                                  d="M318.966,48.734h-6.844V10.544h6.844V2.469h-21.9v8.075h6.843v38.19h-7.938v8.075h24.085V48.734Z"
                                  transform="translate(-184.633 -1.54)"
                                  fill="#f5eddb"
                              />
                          </g>
                      </g>
                      <text
                          id="Analytics"
                          transform="translate(142.421 24.609)"
                          fill="#f5eddb"
                          font-size="12"
                          font-family="ProductSans-Medium, Product Sans Medium"
                          font-weight="500"
                      >
                          <tspan x="0" y="0" letter-spacing="-0.25em">A</tspan>
                          <tspan y="0">nalytics</tspan>
                      </text>
                      <g id="Grupo_94" data-name="Grupo 94">
                          <g id="Grupo_93" data-name="Grupo 93" clip-path="url(#clip-path)">
                              <text
                                  id="Intelligence"
                                  transform="translate(142.421 37.978)"
                                  fill="#f5eddb"
                                  font-size="12"
                                  font-family="ProductSans-Medium, Product Sans Medium"
                                  font-weight="500"
                              >
                                  <tspan x="0" y="0" letter-spacing="-0.25em">I</tspan>
                                  <tspan y="0" letter-spacing="-0.25em">n</tspan>
                                  <tspan y="0" letter-spacing="-0.25em">t</tspan>
                                  <tspan y="0">elligence</tspan>
                
                              </text>
                          </g>
                      </g>
                  </svg>
              </div>
              <div class="footer-description text-white text-justify text-md-left mx-4 mx-md-0 px-4 px-md-0">
                  <p class="footer-description__line">Entregamos soluções de negócios orientadas por dados, direcionando e acelerando mudanças positivas por meio da tecnologia.</p>
              </div>
              <div class="footer-social-icons pb-2 d-flex mt-0 mt-md-5 mt-xl-4 mt-lg-3 mb-5 mb-md-0 pb-4 pb-md-0">
                  <div class="svg-icon pr-4 pr-md-3 mr-1 mr-md-0">
                      <a href="https://www.instagram.com/rci_analytics_intelligence">
                          <svg
                              version="1.1"
                              viewBox="0 0 38 38"
                              xml:space="preserve"
                              width="40"
                              height="40"
                              xmlns="http://www.w3.org/2000/svg"
                          >
                              <circle
                                  cx="19"
                                  cy="19"
                                  r="19"
                                  fill="#004ffe"
                                  data-name="Elipse 15"
                              />
                              <path d="m19.005 13.982a5.012 5.012 0 1 0 5.012 5.012 5 5 0 0 0-5.012-5.012zm0 8.271a3.259 3.259 0 1 1 3.259-3.259 3.265 3.265 0 0 1-3.259 3.259zm6.387-8.471a1.169 1.169 0 1 1-1.169-1.169 1.166 1.166 0 0 1 1.169 1.169zm3.32 1.187a5.786 5.786 0 0 0-1.579-4.1 5.824 5.824 0 0 0-4.1-1.579c-1.614-0.092-6.452-0.092-8.066 0a5.815 5.815 0 0 0-4.1 1.575 5.8 5.8 0 0 0-1.579 4.1c-0.092 1.614-0.092 6.452 0 8.066a5.786 5.786 0 0 0 1.579 4.1 5.831 5.831 0 0 0 4.1 1.579c1.614 0.092 6.452 0.092 8.066 0a5.786 5.786 0 0 0 4.1-1.579 5.824 5.824 0 0 0 1.579-4.1c0.092-1.614 0.092-6.448 0-8.062zm-2.081 9.789a3.3 3.3 0 0 1-1.858 1.858c-1.287 0.51-4.341 0.393-5.763 0.393s-4.48 0.113-5.763-0.393a3.3 3.3 0 0 1-1.858-1.858c-0.51-1.287-0.393-4.341-0.393-5.763s-0.113-4.48 0.393-5.763a3.3 3.3 0 0 1 1.853-1.858c1.289-0.511 4.341-0.392 5.763-0.392s4.48-0.113 5.763 0.393a3.3 3.3 0 0 1 1.863 1.857c0.51 1.287 0.393 4.341 0.393 5.763s0.113 4.48-0.393 5.763z" fill="#fff" data-name="Icon awesome-instagram"/>
                          </svg>
                      </a>
                  </div>
                  <div class="svg-icon pr-4 pr-md-3 mr-1 mr-md-0 ">
                      <a href="https://www.linkedin.com/company/rci-analytics-intelligence">
                          <svg
                              width="40"
                              height="40"
                              version="1.1"
                              viewBox="0 0 38 38"
                              xml:space="preserve"
                              xmlns="http://www.w3.org/2000/svg"
                          >
                              <circle
                                  cx="19"
                                  cy="19"
                                  r="19"
                                  fill="#004ffe"
                                  data-name="Elipse 15"
                              />
                              <path d="m14.013 28.042h-3.748v-12.074h3.748zm-1.877-13.721a2.182 2.182 0 1 1 2.172-2.192 2.19 2.19 0 0 1-2.172 2.192zm15.909 13.721h-3.741v-5.878c0-1.4-0.028-3.2-1.949-3.2-1.949 0-2.248 1.522-2.248 3.1v5.978h-3.742v-12.074h3.6v1.647h0.052a3.94 3.94 0 0 1 3.547-1.95c3.794 0 4.492 2.5 4.492 5.744v6.632z" fill="#fff" data-name="Icon awesome-linkedin-in"/>
                          </svg>
                      </a>
                  </div>
                  >
                  <div class="svg-icon">
                      <a href="https://www.youtube.com/channel/UCralR2EF7ffSlFJd6EPlgJw">
                          <svg
                              version="1.1"
                              width="40"
                              height="40"
                              viewBox="0 0 38 38"
                              xml:space="preserve"
                              xmlns="http://www.w3.org/2000/svg"
                          >
                              <circle
                                  cx="19"
                                  cy="19"
                                  r="19"
                                  fill="#004ffe"
                                  data-name="Elipse 15"
                              />
                              <path d="m29.91 13.499a2.862 2.862 0 0 0-2.014-2.027c-1.776-0.479-8.9-0.479-8.9-0.479s-7.122 0-8.9 0.479a2.862 2.862 0 0 0-2.01 2.027 30.022 30.022 0 0 0-0.476 5.518 30.022 30.022 0 0 0 0.476 5.518 2.819 2.819 0 0 0 2.014 1.993c1.776 0.479 8.9 0.479 8.9 0.479s7.122 0 8.9-0.479a2.819 2.819 0 0 0 2.014-1.994 30.022 30.022 0 0 0 0.476-5.518 30.022 30.022 0 0 0-0.476-5.518zm-13.242 8.9v-6.769l5.953 3.387-5.952 3.386z" fill="#fff" data-name="Icon awesome-youtube"/>
                          </svg>
                      </a>
                  </div>
              </div>
          </div>
          <div class="d-none d-md-flex ml-2 col-md-2 flex-md-column mt-5 pt-5 mx-xl-3 mx-md-3 ml-sm-2 ml-md-0">
              <div class="text-white footer-header-wrapper">
                  <h1 class="footer-header-link mb-5 pb-2">
                      <a class="opacity text-nowrap" href="./quem-somos">Quem Somos</a>
                  </h1>
              </div>
              <div class="footer-links text-white mt-5">
                  <div class="footer-link mb-2">
                      <a class="opacity" href="./quem-somos">Nossa origem</a>
                  </div>
                  <div class="footer-link mb-2">
                      <a class="opacity" href="./quem-somos">Nossa causa</a>
                  </div>
                  <div class="footer-link mb-2">
                      <a class="opacity" href="./quem-somos">Premiações</a>
                  </div>
                  <div class="footer-link mb-2">
                      <a class="opacity" href="./quem-somos">O que fazemos</a>
                  </div>
                  <div class="footer-link">
                      <a class="opacity" href="./quem-somos">Insights da equipe</a>
                  </div>
              </div>
              <div class="footer-contact-information mt-auto">
                  <p class="text-white">comercial@rciit.com</p>
              </div>
          </div>
          <div class="d-none d-md-flex col-md-2  ml-2 ml-sm-0 flex-md-column mt-5 pt-5 mx-xl-3 mx-md-4 ">
              <div class="footer-header-wrapper">
                  <h1 class="footer-header-link mb-5 pb-2">
                      <a class="opacity text-nowrap" href="./o-que-fazemos">O que fazemos</a>
                  </h1>
              </div>
              <div class="footer-links mt-5">
                  <div class="footer-link mb-0">
                      <a class="opacity" href="./o-que-fazemos">
                          <p class="mb-0">Inteligência de</p>
                          <p class="mb-2">negócios</p>
                      </a>
                  </div>
                  <div class="footer-link mb-2">
                      <a class="opacity" href="./o-que-fazemos">Tecnologia em dados</a>
                  </div>
                  <div class="footer-link">
                      <a class="opacity" href="./o-que-fazemos">Multisoluções</a>
                  </div>
              </div>
              <div class="footer-contact-information mt-auto">
                  <p class="text-white text-nowrap">+55 (51) 3076-2777</p>
              </div>
          </div>
          <div class="d-none d-md-flex col-md-2 ml-3 flex-md-column mt-5 pt-5 mx-xl-3 mr-md-0 ml-md-4">
              <div class="footer-header-wrapper">
                  <h1 class="footer-header-link mb-5 pb-2">
                      <a class="opacity" href="#">Carreiras</a>
                  </h1>
              </div>
              <div class="footer-links mt-5">
                  <div class="footer-link mb-2 ">
                      <a class="opacity" href="#">Full time</a>
                  </div>
                  <div class="footer-link">
                      <a class="opacity" href="#">Estágios</a>
                  </div>
              </div>
              <div class="footer-contact-information mt-auto">
                  <p class="text-white location">Porto Alegre | São Paulo | Belo Horizonte</p>
              </div>
          </div>
          <div class="d-none d-md-flex col-md-1 flex-md-column mt-5 pt-5 ml-xl-4 ml-md-0 ">
              <div class="text-white">
                  <h1 class="footer-header-link d-none d-md-block">
                      <a class="opacity" href="RCInsights">RCInsights</a>
                  </h1>
              </div>
          </div>
      </div>
  </footer>