<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultoria | RCI Analytics Intelligence | Brasil</title>
    <link rel="icon" type="image/png" href="./images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="16x16"
      href="./images/favicon-16x16.png"
    />
    <link rel="manifest" href="./images/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">


      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/article.css" />
   
    <link rel="stylesheet" href="/css/case.css" />

    <link rel="stylesheet" href="/css/common.css" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/insight.css" />
    <link rel="stylesheet" href="/css/o-que-fazemos.css" />
    <link rel="stylesheet" href="/css/quem-somos.css" />
    <link rel="stylesheet" href="/css/RCInsights.css" />
    <link rel="stylesheet" href="/css/footer.css" />


    <script src="/js/main.js" defer></script>
    </script>
    
    <script>


      var request = new XMLHttpRequest();
      request.open('GET', 'https://api.instagram.com/v1/users/self/media/recent/?access_token=ENTER-YOUR-ACCESS-TOKEN-HERE&count=8', true);
      request.onload = function(container) {
          if (request.status >= 200 && request.status < 400) {
              var data = JSON.parse(request.responseText);
              for (var i=0;i < data.data.length;i++) {
                  var container = document.getElementById('insta-feed');
                  var imgURL = data.data[i].images.standard_resolution.url;
                
                  var div = document.createElement('div');
                  div.setAttribute('class','instapic');
                  container.appendChild(div);
                  var img = document.createElement('img');
                  img.setAttribute('src',imgURL)
                  div.appendChild(img);
              }
 
          } else { }
      };
      request.onerror = function() {
       
      };
      request.send();
              </script>

