<section id="instagram-cards">
    <!-- <div id="insta-feed"></div> -->
    <div class="container <%= path === '/bonus-page' ? 'paragraph-container' : "''" %> d-flex align-items-center justify-content-center justify-content-md-start align-items-md-start mt-5 pt-5">
        <div class="row justify-content-start mt-1 pt-5 mt-sm-2 pt-sm-3">
            <p class="text-uppercase text-center instagram-title mb-5">Instagram</p>
        </div>
    </div>
    <div class="container pl-sm-4 ml-1 ml-sm-auto pl-4 pl-md-0 d-flex mt-5 pt-3 <%= path === '/bonus-page' ? 'paragraph-container' : "instagram-container" %> mt-sm-2 mb-5 pt-5 pb-sm-5 pb-md-0">
        <div class="row instagram-row mt-lg-4">
            <div class="col-md-4 flex-column my-4 my-sm-4 my-md-0">
                <a href="#">
                    <img class=" img-fluid" src="../../images/page-objects/RCI_POSTS_DE_ATIVAÇÃO_DA_MARCA_08.png" alt="instagram-1">
                </a>
            </div>
            <div class="col-md-4 flex-column my-4 align-self-end my-sm-4 my-md-0">
                <a href="#">
                    <img class=" img-fluid" src="../../images/page-objects/RCI_POSTS_DE_ATIVAÇÃO_DA_MARCA_04.png" alt="instagram-2">
                </a>
            </div>
            <div class="col-md-4 flex-column my-4 pb-5  align-self-end my-sm-4 my-md-0 pb-sm-5 pb-md-0">
                <a href="#">
                    <img class=" img-fluid" src="../../images/page-objects/RCI_POSTS_DE_ATIVAÇÃO_DA_MARCA_07.png" alt="instagram-3">
                </a>
            </div>
        </div>
    </div>
</section>