<%- include ('./includes/head.ejs') %>
</head>
<body>
    <%- include ('./includes/navigation.ejs') %>
    <main class="d-flex flex-column justify-content-center align-items-center login-main" style="height: 100vh !important;">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="">
                        <img src="images/android-chrome-192x192.png"
                            style="height: 100px; width: 100px;"
                            class="mb-5"
                            alt="">
                        </div>
                    <h1>
                        A página solicitada não pôde ser encontrada.</h1>
                        <h1>Deseja retornar ao
                            <a href="/"> início</a>
                            ?
                        </h1>
                        
              
                </div>
            </div>
        </div>
</main>
<%- include ('./includes/end.ejs') %>