.edit-page-navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.panel {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 25px;
  border: 3px solid var(--dark-blue); }

.panel-header {
  background-color: var(--dark); }

.instruction-title {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px; }

.logout-button {
  color: var(--dark);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  padding: 0.4rem 2rem;
  background-color: var(--white-1);
  border: none; }

.logout-button:hover {
  color: var(--white);
  background-color: var(--dark);
  transition: 0.3s ease-out; }

.modal-message {
  margin: auto;
  width: 90%;
  border: 3px solid var(--dark-blue);
  padding: 1rem;
  border-radius: 3px;
  background: var(--blue);
  text-align: center; }

.modal-message--error {
  border-color: var(--highlight-danger);
  background: var(--highlight-light-danger);
  color: var(--highlight-danger); }

.admin-warning {
  width: 21px;
  height: 21px;
  position: relative;
  border-radius: 100px;
  background-color: var(--white);
  display: inline-block;
  vertical-align: middle; }

.admin-warning:before,
.admin-warning:after {
  content: '';
  display: block;
  position: absolute; }

.banner-warning:before {
  top: 15%;
  left: 42%;
  height: 10px;
  width: 3px;
  border: solid var(--blue);
  border-width: 0 3px 0 0; }

.banner-warning:after {
  top: 70%;
  left: 42%;
  height: 3px;
  width: 3px;
  border: solid var(--blue);
  border-width: 0 3px 0 0; }

.backdrop {
  z-index: 299;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.admin-modal {
  z-index: 300;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  border-radius: 25px;
  background-color: var(--white-1); }

.error-modal {
  border: 3px solid #dd1111; }
