.edit-page-navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.panel {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 25px;
  border: 3px solid var(--dark-blue); }

.panel-header {
  background-color: var(--dark); }

.instruction-title {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px; }

.logout-button {
  color: var(--dark);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  padding: 0.4rem 2rem;
  background-color: var(--white-1);
  border: none; }

.logout-button:hover {
  color: var(--white);
  background-color: var(--dark);
  transition: 0.3s ease-out; }

.modal-message {
  margin: auto;
  width: 90%;
  border: 3px solid var(--dark-blue);
  padding: 1rem;
  border-radius: 3px;
  background: var(--blue);
  text-align: center; }

.modal-message--error {
  border-color: var(--highlight-danger);
  background: var(--highlight-light-danger);
  color: var(--highlight-danger); }

.banner-warning {
  width: 10px;
  height: 10px;
  background-color: var(--white);
  display: inline-block; }
